.contact-form{
    padding: 4rem 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 4rem!important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

.span{
    display: flex;
    flex-direction: column;
    position: relative;
}

.span>:nth-child(1){
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}

.span>:nth-child(2){
    color: var(--orange);
    font-size: 2rem;
    font-weight: bold;
}
@media screen and (max-width: 480px){
    .contact-form{
        align-items: center;
        flex-direction: column;
        /* width: 10rem; */
    }
    .c-right{
        align-items: center;
        flex-direction: column;
        width: fit-content;
        margin-left: 10px;
        padding-left: 20px;
    }
    .c-right .user{
        width:15rem;
    }
}